{% extends "layout.html" %}
{% block content %}
    <div>
        <legend>About Us</legend>
        <p>This is a dummy site created as a personal project for working with dummy Virtual Stocks. 
            You can Buy, sell as well as see your transaction History, add funds as will search for the quites of the stocks you want to buy.
            Also Please Note that the data here is being fetched directly from IEX Cloud and is real time data for the stocks.
        </p>
    </div>
{% endblock content %}